{"swagger":"2.0","info":{"version":"v1","title":"APIGateway"},"host":"uk-api.leap.services","schemes":["https"],"paths":{"/api/firms":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/firms/firm-staff":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/firms/firm-staff/{firmId}":{"get":{"tags":["Staff"],"summary":"Retrieves the staff and user details for the specified firm","produces":["application/json"],"parameters":[{"name":"firmId","in":"path","required":true,"type":"string"},{"name":"ignoreInvalidStaff","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/ArrayOfUserLACO"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingOptionsPassthroughUrl}/api/firms/{firmId}/firm-staff","httpMethod":"GET","responses":{"200":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.path.firmId":"method.request.path.firmId","integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.querystring.ignoreInvalidStaff":"method.request.querystring.ignoreInvalidStaff","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"get_apifirms{firmId}firm-staff","permissions":["Staff"],"scope":"","description":"Retrieves the staff and user details for the specified firm"}},"post":{"tags":["Staff"],"summary":"Creates a new staff in firm","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"firmId","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"in":"body","name":"StaffCreateRequestLSAR","required":true,"schema":{"$ref":"#/definitions/StaffCreateRequestLSAR"}}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/UserLACO"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingOptionsPassthroughUrl}/api/firms/{firmId}/staff","httpMethod":"POST","responses":{"200":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.path.firmId":"method.request.path.firmId","integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"post_apifirms{firmId}staff","permissions":["Staff"],"scope":"","description":"Creates a new staff in firm"}},"options":{"consumes":["application/json"],"parameters":[{"name":"firmId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/accounting":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/accounting/autocompletetext":{"get":{"tags":["Accounting"],"summary":"Get auto complete text by type Id.","parameters":[{"name":"typeId","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingOptionsPassthroughUrl}/api/autocompleteText","httpMethod":"GET","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.querystring.typeId":"method.request.querystring.typeId"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"get_apiautocompleteText","permissions":["Accounting"],"scope":"","description":"Get auto complete text by type Id."}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/accounting/billingcategory":{"get":{"summary":"Get billing categories","parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingOptionsPassthroughUrl}/api/BillingCategory","httpMethod":"GET","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/accounting/getasyncrequest":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/accounting/getasyncrequest/{requestId}":{"get":{"tags":["Accounting"],"summary":"Get async request response","parameters":[{"name":"requestId","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"}],"responses":{"201":{"description":"201 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"202":{"description":"202 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/asyncrequest/{requestId}","httpMethod":"GET","responses":{"202":{"statusCode":"202","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"201","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.path.requestId":"method.request.path.requestId","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"get_apicloudasyncrequest{requestId}","permissions":["Accounting"],"scope":"ACCOUNTINGAPI:*:*","description":"Get async request response"}},"options":{"consumes":["application/json"],"parameters":[{"name":"requestId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/accounting/interestcalculator":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/accounting/interestcalculator/{matterId}":{"options":{"consumes":["application/json"],"parameters":[{"name":"matterId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/accounting/interestcalculator/{matterId}/lastCalcDate":{"get":{"tags":["Accounting"],"summary":"Get matter's last interest calculation date.","produces":["application/json"],"parameters":[{"name":"matterId","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/StringObject"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/interestcalculator/{matterId}/lastCalcDate","httpMethod":"GET","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.path.matterId":"method.request.path.matterId"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"get_apicloudinterestcalculator{matterId}lastCalcDate","permissions":["Accounting"],"scope":"ACCOUNTINGAPI:*:*","description":"Get matter's last interest calculation date."}},"options":{"consumes":["application/json"],"parameters":[{"name":"matterId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/accounts":{"get":{"tags":["Accounts"],"summary":"Get account list/details","produces":["application/json"],"parameters":[{"name":"accountUsage","in":"query","description":"Allows you to filter accounts by usage type. Supports multiple accountUsage values.","required":false,"type":"string"},{"name":"deleted","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"name":"accountId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/ArrayOfBankAccountLSAFAR2"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Permanently Moved","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingOptionsPassthroughUrl}/api/accounts","httpMethod":"GET","responses":{"200":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.querystring.accountUsage":"method.request.multivaluequerystring.accountUsage","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.querystring.deleted":"method.request.querystring.deleted","integration.request.querystring.accountId":"method.request.querystring.accountId"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"ApiAccountsGet","permissions":["Accounts"],"description":"Get account list/details"}},"post":{"tags":["Accounts"],"summary":"Add bank account","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"in":"body","name":"BankAccountLSAFAI2","required":true,"schema":{"$ref":"#/definitions/BankAccountLSAFAI2"}}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"201":{"description":"201 response","schema":{"$ref":"#/definitions/SuccessResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"409":{"description":"409 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"449":{"description":"449 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingOptionsPassthroughUrl}/api/accounts","httpMethod":"POST","responses":{"200":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"201":{"statusCode":"201","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"409":{"statusCode":"409","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"449":{"statusCode":"449","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"ApiAccountsPost","permissions":["Accounts"],"description":"Add bank account"}},"put":{"tags":["Accounts"],"summary":"Update bank account","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"in":"body","name":"BankAccountLSAFAU2","required":true,"schema":{"$ref":"#/definitions/BankAccountLSAFAU2"}}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/SuccessResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"409":{"description":"409 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"449":{"description":"449 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","schema":{"$ref":"#/definitions/ErrorResponseLACM"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingOptionsPassthroughUrl}/api/accounts","httpMethod":"PUT","responses":{"200":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"409":{"statusCode":"409","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"449":{"statusCode":"449","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"ApiAccountsPut","permissions":["Accounts"],"description":"Update bank account"}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/anticipateddeposit":{"post":{"tags":["AnticipatedDeposit"],"summary":"Create anticipated deposit","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"in":"body","name":"AnticipatedDepositLADSAC","required":true,"schema":{"$ref":"#/definitions/AnticipatedDepositLADSAC"}}],"responses":{"201":{"description":"201 response","schema":{"$ref":"#/definitions/SuccessResponseModel"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/anticipatedDeposit","httpMethod":"POST","responses":{"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"201","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"5\\d{2}":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"AnticipatedDeposit_Create","permissions":["AnticipatedDeposit"],"scope":"ACCOUNTINGAPI:*:*","description":"Create anticipated deposit"}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/anticipateddeposit/init":{"get":{"tags":["AnticipatedDeposit"],"summary":"Get initialisation data for an anticipated deposit.","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/ArrayOfAccountsLADSAI"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/anticipatedDeposit/init","httpMethod":"GET","responses":{"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"5\\d{2}":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"AnticipatedDeposit_Init","permissions":["AnticipatedDeposit"],"scope":"ACCOUNTINGAPI:*:*","description":"Get initialisation data for an anticipated deposit."}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/anticipateddisbursement":{"get":{"tags":["AnticipatedDisbursements"],"summary":"Get anticipated disbursement ledger.","produces":["application/json"],"parameters":[{"name":"matterId","in":"query","description":"Matter ID","required":false,"type":"string"},{"name":"selectId","in":"query","description":"Anticipated disbursement selected ID","required":false,"type":"string"},{"name":"payId","in":"query","description":"Anticipated disbursement payment status ID","required":false,"type":"string"},{"name":"Authorization","in":"header","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/ArrayOfAnticipatedDisbursement"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"201":{"description":"201 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"404":{"description":"404 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"504":{"description":"504 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/anticipateddisbursement","httpMethod":"GET","responses":{"201":{"statusCode":"201","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"404":{"statusCode":"404","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"500":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"504":{"statusCode":"504","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.querystring.selectId":"method.request.querystring.selectId","integration.request.querystring.matterId":"method.request.querystring.matterId","integration.request.querystring.payId":"method.request.querystring.payId","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"getAnticipatedDisbursements","permissions":["AnticipatedDisbursements"],"scope":"ACCOUNTINGAPI:*:*","description":"Read Anticipated Disbursements."}},"post":{"tags":["AnticipatedDisbursements"],"summary":"Create anticipated disbursement.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","required":true,"type":"string"},{"in":"body","name":"CreateAnticipatedDisbursements","description":"Anticipated disbursements model","required":true,"schema":{"$ref":"#/definitions/CreateAnticipatedDisbursements"}}],"responses":{"201":{"description":"201 response","schema":{"$ref":"#/definitions/SuccessResponseModel"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"404":{"description":"404 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"504":{"description":"504 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/anticipateddisbursement","httpMethod":"POST","responses":{"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"404":{"statusCode":"404","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"500":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"504":{"statusCode":"504","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"201","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"createAnticipatedDisbursements","permissions":["AnticipatedDisbursements"],"scope":"ACCOUNTINGAPI:*:*","description":"Create Anticipated Disbursements."}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'POST,GET,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{\"statusCode\": 200}"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/anticipateddisbursement/{anticipateddisbursementId}":{"get":{"tags":["AnticipatedDisbursements"],"summary":"View anticipated disbursement details.","produces":["application/json"],"parameters":[{"name":"anticipateddisbursementId","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/ViewLADSAV"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/anticipateddisbursement/{anticipateddisbursementId}","httpMethod":"GET","responses":{"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"5\\d{2}":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.path.anticipateddisbursementId":"method.request.path.anticipateddisbursementId","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"AnticipatedDisbursement_View","permissions":["AnticipatedDisbursements"],"scope":"ACCOUNTINGAPI:*:*","description":"View anticipated disbursement details."}},"options":{"consumes":["application/json"],"parameters":[{"name":"anticipateddisbursementId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.path.anticipateddisbursementId":"method.request.path.anticipateddisbursementId"},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/appointments":{"get":{"tags":["Appointments"],"summary":"Get appointments.","produces":["application/json"],"parameters":[{"name":"matterId","in":"query","description":"Matter Id","required":true,"type":"string"},{"name":"start","in":"query","description":"Start date (yyyy-MM-dd)","required":false,"type":"string"},{"name":"staffId","in":"query","description":"Staff Id","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"name":"end","in":"query","description":"End date (yyyy-MM-dd)","required":false,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/ArrayOfAppointmentResponseItem"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"404":{"description":"404 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.SuperDiaryPassthroughUrl}/appointments","httpMethod":"GET","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"404":{"statusCode":"404","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"5\\d{2}":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.querystring.start":"method.request.querystring.start","integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.querystring.matterId":"method.request.querystring.matterId","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.querystring.staffId":"method.request.querystring.staffId","integration.request.querystring.end":"method.request.querystring.end"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"Appointments_GetAppointments","permissions":["Appointments"],"description":"Fetch Appointments"}},"post":{"tags":["Appointments"],"summary":"Create Outlook appointments.","consumes":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"in":"body","name":"DiaryAppointmentRequest","required":true,"schema":{"$ref":"#/definitions/DiaryAppointmentRequest"}}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"404":{"description":"404 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"502":{"description":"Bad Gateway","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.SuperDiaryPassthroughUrl}/appointments","httpMethod":"POST","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"404":{"statusCode":"404","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"502":{"statusCode":"502","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"5\\d{2}":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"Appointments_CreateAsync","permissions":["Appointments"],"description":"Create Outlook Appointments"}},"put":{"tags":["Appointments"],"summary":"Update appointment.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"in":"body","name":"DiaryAppointmentRequest","required":true,"schema":{"$ref":"#/definitions/DiaryAppointmentRequest"}}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/DiaryAppointmentResponseObject"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"404":{"description":"404 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.SuperDiaryPassthroughUrl}/appointments","httpMethod":"PUT","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"404":{"statusCode":"404","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"5\\d{2}":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"Appointments_UpdateAsync","permissions":["Appointments"],"description":"Update Outlook Appointments"}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{\"statusCode\": 200}"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/appointments/{id}":{"delete":{"tags":["Appointments"],"summary":"Delete Outlook appointment.","parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"404":{"description":"404 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.SuperDiaryPassthroughUrl}/appointments/{id}","httpMethod":"DELETE","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"404":{"statusCode":"404","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"5\\d{2}":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.path.id":"method.request.path.id"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"Appointments_DeleteAppointment","permissions":["Appointments"],"description":"Delete  Appointments"}},"options":{"consumes":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.path.id":"method.request.path.id"},"requestTemplates":{"application/json":"{\"statusCode\": 200}"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime/activities":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime/activities/timeline":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime/activities/timeline/{staffId}":{"get":{"produces":["application/json"],"parameters":[{"name":"date","in":"query","required":true,"type":"string"},{"name":"staffId","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"name":"includeUnassigned","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/GetTimelineActivitiesQueryRequest"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AutoTimePassthroughUrl}/api/v1/activities/timeline/{staffId}","httpMethod":"GET","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.querystring.date":"method.request.querystring.date","integration.request.querystring.includeUnassigned":"method.request.querystring.includeUnassigned","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.path.staffId":"method.request.path.staffId"},"passthroughBehavior":"when_no_match","type":"http"}},"options":{"consumes":["application/json"],"parameters":[{"name":"staffId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime/activitysummaries":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime/activitysummaries/{matterId}":{"get":{"tags":["AutoTime"],"summary":"Gets all activity summaries of a given matter over a specific period of time.","parameters":[{"name":"matterId","in":"path","required":true,"type":"string"},{"name":"startDateUtc","in":"query","required":false,"type":"string"},{"name":"queryOption","in":"query","required":false,"type":"string"},{"name":"billableFilter","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"name":"endDateUtc","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AutoTimePassthroughUrl}/api/v1/activity-summaries/{matterId}","httpMethod":"GET","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.querystring.queryOption":"method.request.querystring.queryOption","integration.request.querystring.billableFilter":"method.request.querystring.billableFilter","integration.request.querystring.endDateUtc":"method.request.querystring.endDateUtc","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.querystring.startDateUtc":"method.request.querystring.startDateUtc","integration.request.path.matterId":"method.request.path.matterId"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"get_apiv1activity-summaries{matterId}","permissions":["AutoTime"],"scope":"","description":"Gets all activity summaries of a given matter over a specific period of time."}},"options":{"consumes":["application/json"],"parameters":[{"name":"matterId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime/reports":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime/reports/activities":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime/reports/activities/staff":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/autotime/reports/activities/staff/totalhours":{"post":{"tags":["AutoTime"],"summary":"IMPORTANT: Endpoint to be used by Reporting service only.\r\nGets all resource summaries for a given staff member over \r\na specific period of time.","parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AutoTimePassthroughUrl}/api/v1/reports/activities/staff/total-hours","httpMethod":"POST","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"post_apiv1reportsactivitiesstafftotal-hours","permissions":["AutoTime"],"scope":"","description":"IMPORTANT: Endpoint to be used by Reporting service only.\r\nGets all resource summaries for a given staff member over \r\na specific period of time."}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/bankdeposit":{"post":{"tags":["OfficeBankDeposit"],"summary":"Create a bank deposit.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"in":"body","name":"BankDepositLADSOC","required":true,"schema":{"$ref":"#/definitions/BankDepositLADSOC"}}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/SuccessResponseModel"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/bankdeposit","httpMethod":"POST","responses":{"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"OfficeBankDeposit_CreateBankDeposit","permissions":["OfficeBankDeposit"],"scope":"ACCOUNTINGAPI:*:*","description":"Create a bank deposit."}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/bankdeposit/gettransactions":{"get":{"tags":["OfficeBankDeposit"],"summary":"Get bank deposit transactions for a bank account","produces":["application/json"],"parameters":[{"name":"accountGuid","in":"query","required":false,"type":"string"},{"name":"dateFrom","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"name":"dateTo","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/TransactionLADSOL"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/bankdeposit/gettransactions","httpMethod":"GET","responses":{"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.querystring.accountGuid":"method.request.querystring.accountGuid","integration.request.querystring.dateFrom":"method.request.querystring.dateFrom","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.querystring.dateTo":"method.request.querystring.dateTo"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"OfficeBankDeposit_GetTransactionList","permissions":["OfficeBankDeposit"],"scope":"ACCOUNTINGAPI:*:*","description":"Get bank deposit transactions for a bank account"}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/bankdeposit/initialisation":{"get":{"tags":["OfficeBankDeposit"],"summary":"Get initialisation data for creating a bank deposit.","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"name":"receiptId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/OfficeBankDepositCreateInitialisationDataLADSOI"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/bankdeposit/initialisation","httpMethod":"GET","responses":{"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.querystring.receiptId":"method.request.querystring.receiptId"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"OfficeBankDeposit_GetBankDepositInitialisationData","permissions":["OfficeBankDeposit"],"scope":"ACCOUNTINGAPI:*:*","description":"Get initialisation data for creating a bank deposit."}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/bankdeposit/reversal":{"post":{"tags":["OfficeBankDeposit"],"summary":"Reverse a bank deposit.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"in":"body","name":"BankDepositLADSOR","required":true,"schema":{"$ref":"#/definitions/BankDepositLADSOR"}}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/SuccessResponseModel"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/bankdeposit/reversal","httpMethod":"POST","responses":{"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"OfficeBankDeposit_ReverseBankDeposit","permissions":["OfficeBankDeposit"],"scope":"ACCOUNTINGAPI:*:*","description":"Reverse a bank deposit."}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/bankdeposit/{bankDepositGuid}":{"options":{"consumes":["application/json"],"parameters":[{"name":"bankDepositGuid","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.path.bankDepositGuid":"method.request.path.bankDepositGuid"},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/bankdeposit/{bankDepositGuid}/viewdata":{"get":{"tags":["OfficeBankDeposit"],"summary":"Viewbank deposit.","produces":["application/json"],"parameters":[{"name":"bankDepositGuid","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"},{"name":"transactionMode","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/BankDepositUpdateInitialisationDataLADSOI"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.AccountingPassthroughUrl}/api/cloud/bankdeposit/{bankDepositGuid}/viewdata","httpMethod":"GET","responses":{"301":{"statusCode":"301","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.querystring.transactionMode":"method.request.querystring.transactionMode","integration.request.header.Authorization":"method.request.header.Authorization","integration.request.path.bankDepositGuid":"method.request.path.bankDepositGuid"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"OfficeBankDeposit_GetBankDepositUpdateInitialisationData","permissions":["OfficeBankDeposit"],"scope":"ACCOUNTINGAPI:*:*","description":"Viewbank deposit."}},"options":{"consumes":["application/json"],"parameters":[{"name":"bankDepositGuid","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.path.bankDepositGuid":"method.request.path.bankDepositGuid"},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/calendars":{"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/calendars/sharedcalendars":{"get":{"tags":["Calendars"],"summary":"Retrieve Outlook shared calendars.","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Auth Token","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/GetSharedCalendarsResult"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"429":{"description":"429 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"500":{"description":"500 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}}},"security":[{"LeapAuthAuthorizer":[]},{"api_key":[]}],"x-amazon-apigateway-integration":{"uri":"https://${stageVariables.SuperDiaryPassthroughUrl}/calendars/sharedcalendars","httpMethod":"GET","responses":{"400":{"statusCode":"400","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"401":{"statusCode":"401","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"403":{"statusCode":"403","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"429":{"statusCode":"429","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"default":{"statusCode":"500","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}},"2\\d{2}":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestParameters":{"integration.request.header.Access-Control-Allow-Origin":"'*'","integration.request.header.Authorization":"method.request.header.Authorization"},"passthroughBehavior":"when_no_match","type":"http"},"x-leap":{"operationId":"getSharedCalendars","permissions":["Calendars"],"description":"Returns the users' Outlook shared calendar list."}},"options":{"consumes":["application/json"],"responses":{"200":{"description":"200 response","headers":{"Access-Control-Allow-Origin":{"type":"string"},"Access-Control-Allow-Methods":{"type":"string"},"Access-Control-Allow-Headers":{"type":"string"}}}},"x-amazon-apigateway-integration":{"responses":{"default":{"statusCode":"200","responseParameters":{"method.response.header.Access-Control-Allow-Methods":"'GET,PUT,POST,DELETE,PATCH,OPTIONS'","method.response.header.Access-Control-Allow-Headers":"'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'","method.response.header.Access-Control-Allow-Origin":"'*'"}}},"requestTemplates":{"application/json":"{ \"statusCode\": 200 }"},"passthroughBehavior":"when_no_match","type":"mock"}}},"/api/v1/cards":{"get":{"summary":"Deprecated endpoint, replaced with api/v2/cards.","operationId":"Card_GetCards","produces":["application/json"],"parameters":[{"name":"includes","in":"query","description":"Extra card properties","required":false,"type":"string"},{"name":"lastRowVer","in":"query","description":"lastRowVer of previous request","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"LEAP Auth Token","required":true,"type":"string"}],"responses":{"200":{"description":"200 response","schema":{"$ref":"#/definitions/CardListJson"},"headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"301":{"description":"Moved Permanently","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"400":{"description":"400 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"401":{"description":"401 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"403":{"description":"403 response","headers":{"Access-Control-Allow-Origin":{"type":"string"}}},"404":{"description":"404 
[...]
